---
import Link from "@components/ui/link.astro";
import Chart from "./chart.astro";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Energy-efficient EV charging
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Demand response AI models to help enterprises save electricity while
      creating a cleaner, more resilient grid.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://app.nerv.energy/docs"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        Get Started Now
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        White Paper
      </Link>
    </div>
  </div>
  <div class="py-6 md:order-1">
    <Chart />
  </div>
</main>
