---
// @ts-ignore
---

<style>
  .custom-text {
    font-size: 2rem; /* Adjust the size as needed */
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center the text */
    margin: 1rem; /* Add some margin for spacing */
  }
</style>

<div class="mt-3">
  <h2 class="text-center text-slate-500">Works with your technologies</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-1 flex-wrap">
    <div class="custom-text text-slate-800">OADR</div>
    <div class="custom-text text-slate-800">OCPI</div>
    <div class="custom-text text-slate-800">OCPP</div>
  </div>
</div>
